<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <div class="flex--sbc">
        <div class="grid-x align-middle">
          <u><%= t(".meeting") %></u>&nbsp;<%= icon "arrow-right" %>&nbsp;<%= t(".agenda") %>
        </div>
      </div>
    </h2>
  </div>
  <div class="card-section">
    <div class="grid-x card-title">
      <div class="cell small-2"><strong><%= t(".start_date") %></strong></div>
      <div class="cell small-2"><strong><%= t(".end_date") %></strong></div>
    </div>
    <div class="grid-x text-muted">
      <div class="cell small-2"><%= meeting.start_time.strftime("%m/%d/%Y %R") %></div>
      <div class="cell small-2"><%= meeting.end_time.strftime("%m/%d/%Y %R") %></div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t(".title") %>
      <%= link_to t("actions.new", scope: "decidim.meetings", name: t("models.agenda_item.name", scope: "decidim.meetings.admin")), new_meeting_agenda_item_path(meeting), class: "button tiny button--title" if can? :manage, current_component %>
    </h2>
  </div>

  <div class="card-section">
    <div class="grid-x align-center p-s">
      <%#TODO change this text to translated one%>
      La agenda está actualmente vacía...<a href="">&nbsp;añade un ítem</a>
      <%#TODO add conditional and show agenda items %>
    </div>
  </div>
</div>
